<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="style/css/materialize.min.css"  media="screen,projection"/>

<title>STEGANOGRAFI</title>
</head>
<body>
<center>
<div class="container">
    <div class="row">
      <div class="col m3"></div>
      <div class="col s12 m6">
        <img class="responsive-img " src="ostrich.png">
        <div class="row">

          <div class="col s4">
            <a class="btn tooltipped blue darken-3" href="hal_encode.html" data-position="bottom" data-tooltip="Proses encoding merupakan proses untuk menyematkan suatu objek pada cover">ENCODE</a>
            
          </div>
          <div class="col s4">
            <a class="btn tooltipped blue darken-3" href="hal_decode.html" data-position="bottom" data-tooltip="Proses decoding merupakan proses untuk mengeluarkan objek tersembunyi pada cover">DECODE</a>
            
          </div>
          <div class="col s4">
            <a class="btn tooltipped blue darken-3" href="#identify" data-position="bottom" data-tooltip="Proses identifikasi bertujuan untuk meneliti hasil encode dan decode sehingga dapat dilakukan perbandingan kualitas serta ketahanan terhadap serangan pada objek stego">IDENTIFY</a>
            
          </div>
        </div>
      </div>
    </div>
</div>
</center>



<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="style/js/materialize.min.js"></script>
<script src="js/code.js"></script>
</body>
</html>