{% extends 'base.html' %}

{% block head %}
<title>STEGANOGRAFI - Identifikasi</title>
{% endblock %}

{% block body %}
<div style="float: left;"><a href="/">Home</a></div>
<form action="/go_decode" method="POST" enctype=multipart/form-data>
<div class="row center-align">
    <div class="col l3"></div>
    <div class="col s12 l6">
      <div class="file-field input-field">
        <div class="btn blue darken-3">
          <span>Pilih Gambar</span>
          <input type="file" id="image-up1" name="image" accept="image/*">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Pilih Citra 1">
        </div>
      </div>

      <div class="file-field input-field">
        <div class="btn blue darken-3">
          <span>Pilih Gambar</span>
          <input type="file" id="image-up2" name="image" accept="image/*">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Pilih CItra 2">
        </div>
      </div>
    </div> 
  </div>

  <div class="row center-align">
    <div class="col l3"></div>
    <div class="input-field col center-align s12 l6">
      <select id="select-metode">
        <optgroup label="Ranah Spatial">
          <option value="LSB">Least Significant Bit</option>
        </optgroup>
        <optgroup label="Ranah Frekuensi">
          <option value="DCT">Discrete Cosine Transform</option>
          <option value="DWT">Discrete Haar Wavelete Transform</option>
        </optgroup>
        <optgroup label="Kombinasi">
          <option value="ALL">Kombinasi LSB+DCT+DWT</option>
        </optgroup>
      </select>
      <label>Metode Ekstraksi</label>
        
    </div>
  </div>  

  <div class="row">
    <div class="col l2"></div>
    <div class="col s12 l8">
      <a href="#" class="btn blue darken-3" id="identifyHasil">Identifikasi</a>
      <!-- <div class="card">
        <div class="card-content">
          <span class="card-title">Hidden Object</span>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#test4">Text</a></li>
            <li class="tab"><a href="#test5">Gambar</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="test4">
            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea" data-length="255"></textarea>
              <label for="textarea2">Masukkan Hidden Text</label>
            </div>

            <a href="#" class="btn blue darken-3">Identifikasi</a>
          </div>
          <div id="test5">
            <div class="file-field input-field">
              <div class="btn blue darken-3">
                <span>Pilih Gambar</span>
                <input type="file" name="image" accept="image/*" >
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Pilih Hidden Image">
              </div>
            </div>
            <a href="#" class="btn blue darken-3">Identifikasi</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</form>
  <div class="row">
    <div class="col 13">
      <div style="float: left; text-align: left;">
        <p id="idnPSNR">PSNR : 0</p>
        <p id="idnMSE">MSE  : 0</p>
      </div>
    </div>
    <div class="col s12 l12">
        <table class="responsive-table">
          <thead>
            <th>ASPEK <br> IDENTIFIKASI</th>
            <th>Image 1</th>
            <th>Image 2</th>
          </thead>
          <tbody>
            <tr>
              <th>Citra</th>
              <td><img id="stegImage1" class="responsive-img" width="300px"></td>
              <td><img id="stegImage2" class="responsive-img" width="300px"></td>
            </tr>
            <tr>
              <th>Hasil <br> Decode</th>
              <div>
                <td><p id="hidObject1" style="width: 300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">plain text po hidden image 1</p></td>
                <td><p id="hidObject2" style="width: 300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">plain text po hidden image 2</p></td>
              </div>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <!-- <div class="row center-align">
    <div class="col l3"></div>
    <div class="col s12 l6">
      <div class="file-field input-field">
        <div class="btn blue darken-3">
          <span>Pilih Gambar</span>
          <input type="file" id="image-up" name="image" accept="image/*" onchange="original()">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Pilih Attacked Stego Image">
        </div>
      </div>
      <a href="#" class="btn blue darken-3">Identifikasi</a>
    </div> 
  </div> -->
{% endblock %}